#MobileCamera 以前没记笔记，不知道参考的哪里，不知道这是干甚的工程,装手机上还检测出了病毒,所以不提交
/MobileCamera/

.gradle/
build/
/vendor
composer.phar
composer.lock
.phpunit.result.cache
/phpunit.xml
.DS_Store
Thumbs.db
wandb/

# eclipse
.metadata/

# IDE
.idea/
/.vscode
.classpath
.project
.settings/

# build
bin/


