
.gradle/
build/
/vendor
composer.phar
composer.lock
.phpunit.result.cache
/phpunit.xml
.DS_Store
Thumbs.db
wandb/

# eclipse
.metadata/

# IDE
.idea/
/.vscode
.classpath
.project
.settings/

# build
bin/


